@model YourNamespace.Models.Person  

@{  
    ViewBag.Title = "Chi tiết người";  
}  
<h2>Chi tiết người</h2>  
<p>Thông tin người dùng:</p>  
<ul>  
    <li>Id: @Model.Id</li>  
    <li>Tên: @Model.Name</li>  
    <li>Tuổi: @Model.Age</li>  
</ul>